
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
	<display-name>My Web Application</display-name>
	<context-param>		
		<param-name>file-upload</param-name>
		<param-value>
			C:\Users\qiannjin\workspace\data\
		</param-value>
		
	</context-param>
	<filter>
		<filter-name>ServletFilter</filter-name>
		<filter-class>filter.ServletFilter</filter-class>
	</filter>
	<filter>
		<filter-name>GZipServletFilter</filter-name>		
		<filter-class>filter.GZipServletFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ServletFilter</filter-name>
		<url-pattern>/ServletForm</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>GZipServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>SessionTrack</servlet-name>
		<servlet-class>servlet.SessionTrack</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RedirectServlet</servlet-name>
		<servlet-class>servlet.RedirectServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletExample</servlet-name>
		<servlet-class>servlet.ServletExample</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletGetPost</servlet-name>	
		
		<servlet-class>servlet.ServletGetPost</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletForm</servlet-name>
		<servlet-class>servlet.ServletForm</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ErrorHandler</servlet-name>		
		<servlet-class>servlet.ErrorHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadServlet</servlet-name>		
		<servlet-class>servlet.UploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RedirectServlet</servlet-name>
		<url-pattern>/RedirectServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletExample</servlet-name>
		<url-pattern>/ServletExample</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletGetPost</servlet-name>
		<url-pattern>/ServletGetPost</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletForm</servlet-name>
		<url-pattern>/ServletForm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ErrorHandler</servlet-name>
		<url-pattern>/ErrorHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionTrack</servlet-name>
		<url-pattern>/SessionTrack</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
	<error-page>
		<error-code>404</error-code>
		<location>/ErrorHandler</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/ErrorHandler</location>
	</error-page>

</web-app>
